@import "./_variables.scss";

body {
  background-color: $pink;
  color: aliceblue;
}
.video-mixin__thumb {
  height: 140px;
  border-radius: 7px;
  width: 25%;
  background-color: ivory;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
  &.success {
    background-color: forestgreen;
    color: white;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  .video__comment {
    background-color: white;
    color: black;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}
