extends base
include ./mixins/video

block content 
    form(method="GET").search__form
        input(type="text" name="keyword" placeholder="Type Title")
        input(type="submit" value="Search")
    
    div.video-grid
        each video in videos 
            +videoMix(video)
        else
            span.empty__message No videos found