extends base

block content
    h4 Upload Video
    if errorMessage
        span=errorMessage
    div 
        video#preview
        button#startBtn Start Rcording
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Upload File
        input(name="video" type="file" accept="video/*" id="video" required)
        input(name="title" placeholder="Title" required type="text" maxlength=30)
        input(name="description" placeholder="Description" required type="text" minlength=10)
        input(name="hashtags" placeholder="Hashtags, seperated by ," required type="text")
        input(type="submit" value="upload")
block scripts
    script(src="/static/js/recorder.js")